################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/RunningActivityTracker/obj/Debug/net6.0
/RunningActivityTracker/bin/Debug/net6.0
/RunningActivityTracker/obj/project.nuget.cache
/RunningActivityTracker/obj/RunningActivityTracker.csproj.nuget.dgspec.json
